flows.json
[{"id":"947a2f65.c429e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4c144d48.5ad5cc","type":"rpi-gpio out","z":"947a2f65.c429e","name":"","pin":"5","set":true,"level":"0","freq":"","out":"out","x":900,"y":500,"wires":[]},{"id":"b0c73e6.7cf554","type":"ui_button","z":"947a2f65.c429e","name":"","group":"a2b67933.7efac8","order":1,"width":"6","height":"1","passthru":false,"label":"Unlock","tooltip":"","color":"","bgcolor":"orange","icon":"mi-lock_open","payload":"1","payloadType":"num","topic":"","x":510,"y":540,"wires":[["8ae69441.b83b9"]]},{"id":"402c0e70.261ee8","type":"ui_toast","z":"947a2f65.c429e","position":"bottom left","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1140,"y":620,"wires":[]},{"id":"8ae69441.b83b9","type":"trigger","z":"947a2f65.c429e","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":700,"y":540,"wires":[["4c144d48.5ad5cc","574abd69.459d3c"]]},{"id":"574abd69.459d3c","type":"trigger","z":"947a2f65.c429e","op1":"Unlocked","op2":"","op1type":"str","op2type":"nul","duration":"0","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":920,"y":580,"wires":[["402c0e70.261ee8","19ef59fb.419976"]]},{"id":"19ef59fb.419976","type":"ui_audio","z":"947a2f65.c429e","name":"","group":"a2b67933.7efac8","voice":"en-GB","always":true,"x":1120,"y":540,"wires":[]},{"id":"ac45b398.ff5a88","type":"exec","z":"947a2f65.c429e","command":"sudo python3 /home/pi/lock.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":430,"y":460,"wires":[["49490aa4.d54c1c"],[],[]]},{"id":"49490aa4.d54c1c","type":"trigger","z":"947a2f65.c429e","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":700,"y":460,"wires":[["4c144d48.5ad5cc","4b3a3a3c.e6aaec"]]},{"id":"a383f6d4.08e2d","type":"ui_toast","z":"947a2f65.c429e","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1140,"y":420,"wires":[]},{"id":"4b3a3a3c.e6aaec","type":"trigger","z":"947a2f65.c429e","op1":"Unlocked via Fingerprint","op2":"0","op1type":"str","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"0","bytopic":"all","name":"","x":920,"y":420,"wires":[["a383f6d4.08e2d","c3ea6cf.09a499"]]},{"id":"daee451.78f9d38","type":"trigger","z":"947a2f65.c429e","op1":"1","op2":"1","op1type":"num","op2type":"num","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":180,"y":460,"wires":[["ac45b398.ff5a88"]]},{"id":"c3ea6cf.09a499","type":"debug","z":"947a2f65.c429e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1140,"y":380,"wires":[]},{"id":"a2b67933.7efac8","type":"ui_group","z":"","name":"Smart Lock Controls","tab":"48e1a623.30b0e","disp":true,"width":"6","collapse":false},{"id":"48e1a623.30b0e","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]